/*--------------Default setting---------------------------------------------------------------------------------*/
*{
  font-size: 18px;
  font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sansserif; 
}
/*------------------Header---------------------------------------------------------------------------------------*/
body{
	margin: 0;
	padding: 0;
}

.bkground{
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(world.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: block;
}

h1{
	color: #FFFFFF;
	margin-bottom: 30px;
	font-size: 45px;
	letter-spacing: 2px;
	text-align: center;
}

#country{
	height: 30px;
	padding: 10px;
	border: none;
	border-radius: 25px;
	outline: none;
	width: 400px;
}

.LookupCountry{
	height: 30px;
	width: 150px;
	background: #9b111e;
	border: none;
	color: #000;
	border-radius: 25px;
	display: inline;
}

.LookupCities{
	height: 30px;
	width: 150px;
	background: #002366;
	border: none;
	color: #000;
	border-radius: 25px;
	display: inline;
}

.LookupCities:hover, .LookupCountry:hover{
	background: #565656;
	cursor: pointer;
}

#controls{
	background: rgba(0,0,0,0.5);
	padding: 20px;
	margin: auto;
	width: 500px;
	text-align: center;
	align-items: center;
	margin-bottom: 70px;
}

#result{
	background: rgba(192,192,192,0.4);
	margin: auto;
	border: 1px soid #ddd;
	padding: 20px;
	width: 80%;
}

.CountryList{
	table-layout: auto;
	width: 100%;
	border-collapse: collapse;
}

.CountryList td{
 	text-align: left;
}
.CountryList td, .CountryList th{
	border: 1px soid #ddd;
	padding: 4px;
}

.CountryList tr:nth-child(even){background-color: #f4f4f4;}

.CountryList tr:hover {background-color: #ddd;}

.CountryList th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  background-color: #9b111e;
  color: white;
}


.CityList{
	border-collapse: collapse;
	width: 100%;
}

.CityList td, .CityList th{
	border: 1px soid #ddd;
	padding: 4px;
}

.CityList tr:nth-child(even){background-color: #f4f4f4;}

.CityList tr:hover {background-color: #ddd;}

.CityList th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  background-color: #002366;
  color: white;
}
